*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 60px ;
    font-size: 20px;
    font-weight: 600;
}
#nav1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#nav2{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#content{
    padding: 40px 60px;
    margin-top: 60px;
}
#content h4{
    font-size: 20px;
    font-weight: 600; 
    margin-bottom: 40px;
}
#content h1{
    font-size: 130px;
    font-weight: 100;   
}

#case{
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
}
#case_right{
    display: flex;
    align-items: center;
    gap: 50px;
}
#line{
    height: 2px;
    width: 130px;
    background-color: black;
}
#img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
.element1 img{
    width: 540px;
    height: 550px;
    border-radius: 50px;
    object-fit: cover;

    border: 1px solid rgb(184, 184, 183);
    
}

.element2 img{
    width: 520px;
    height: 550px;
    border-radius: 40px;
    object-fit: cover;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}   
.bottom h4{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
}
.bottom h5{
    font-size: 15px;
    font-weight: 100;
}
.btm_right{
    border: 1px solid black;
    border-radius: 40px;
    width: 60px; 
    padding: 5px;   
}
.btm_right i{
    display: flex;
    justify-content: center;    
    font-size: 30px;    
}
.element2 .btm_right{
    background-color: black;
    color: #ffffff;
}